
section{
  //display: flex;
  min-width: 90px;
  width: 100%;
  background-color: aqua;
  
  text-align: center;
  align-items: center;
  vertical-align: middle;
  
}

.boxAsc {
  border: 2px dotted rgb(96 139 168);
  //display: flex;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  align-items: center;
  background-color: aqua;
  
}
.boxAsc > * {
  border: 2px solid rgb(96 139 168);
  border-radius: 5px;
  
  margin: 5px;
 
}

.boxGMotor {
  border: 2px dotted rgb(84, 171, 98);
  //display: flex;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  align-items: center;
  background-color: rgba(73, 175, 244, 0.2);
}

 ion-item{
  background-color: transparent;
  border: 1px solid rgb(140, 0, 255);
  border-radius: 7px;
  margin: 5px;
}

.form-group {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  min-width: 80px;
  

}
ion-select{
  min-width: 20px;
  max-width: 90px;
}
ion-select>*{
  min-width: 20px;
  max-width: 90px;
  background-color: #130a98;
  border-radius: 4px;
  text-align: center;
}

label{
  display: inline-block;
  min-width: 80px;
  max-width: 90px;
  text-align: center;
}

input{
  padding: 1px 2px ;
  margin: 1px;
  
 
}

input[type="submit"]{
  display: block;
  margin: 10px auto;
}
/*Inputs que no sean de tipo submit*/
input:not([type="submit"]){
  width: 80px;
  text-align: center;
  justify-content: center;
}
.btnBorrar{
  border: 1px inside #130a98;
  background-color: #cd6866;
  margin-left: 20px;
}
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}