<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>modalServGenerales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Servicios Generales</ion-title>
    </ion-toolbar>
  </ion-header>

  <section class="flex-container boxAsc">

    <form (ngSubmit)="agregarAscensor()" #formAscensor="ngForm">
      <h2>Ascensores</h2>

      <div class="form-group">
        <ion-item>
          <label for="numAsc">Núm. Ascensores</label>
          <input type="number" class="form-control ng-untouched ng-pristine ng-valid" id="numAsc" required
            [(ngModel)]="modelAscensor.numAscensores" name="numAsc">
          <div [hidden]="true" class="alert alert-danger">
            El número de ascensores es necesario
          </div>
        </ion-item>
        <ion-item>
          <label for="tipoAsc">Tipo Ascensor</label>
          <ion-select id="tipoAsc" class="form-control ng-valid ng-pristine" [(ngModel)]="modelAscensor.tipoMotorAsc" interface="popover"
            name="tipoAsc" (ionChange)="cambiaPotAscensor($event.srcElement)" required>
            <ion-select-option *ngFor="let tipoPotAsc of tipoPotAscensor"
              [value]="tipoPotAsc">{{tipoPotAsc}}</ion-select-option>
          </ion-select>
        
          <input type="number" class="form-control ng-valid" id="potAsc" [(ngModel)]="modelAscensor.potenciaMotorAsc"
            name="potAsc" readonly required>
          <ion-select id="medPotMotorAsc" required name="selMedPotAsc" interface="popover"
            [(ngModel)]="modelAscensor.medidaPotencia" [disabled]=true>
            <ion-select-option *ngFor="let medPot of medidorPotencia" [value]="medPot">{{medPot}}</ion-select-option>
          </ion-select>
        </ion-item>
      </div>


      <button type="submit" class="btn btn-success" [disabled]="!formAscensor.form.valid">Agregar Ascensor</button>
      <button type="button" class="btn btn-default btnBorrar" (click)="agregarAscensor(); formAscensor.reset()">Borra
        datos</button>
    </form>
  </section>

  <section class="flex-container boxGMotor" >
    
    <form (ngSubmit)="agregarGrupoMotor()" #formGrupoMotor="ngForm">
      <h2>Grupo Motor</h2>

      <div class="form-group">
        <ion-item>
          <label for="numGMotor">Núm. Motores</label>
          <input type="number" class="form-control ng-untouched ng-pristine ng-valid" id="numGMotor" required
            [(ngModel)]="modelGMotor.numGMotores" name="numGMotor">
          <div [hidden]="true" class="alert alert-danger">
            El número de grupo motor es necesario
          </div>
        </ion-item>
        <ion-item>
          <label for="potGMotor">Potencia Gr Motor:</label>
          <input type="number" class="form-control ng-valid" id="potGMotor" [(ngModel)]="modelGMotor.potenciaGMotor"
            name="potGMotor">
          <ion-select id="medPotMotorGM" required name="medPotMotorGM" interface="popover"
            (ionchange)="cambiaPotGMotor($event.srcElement)">
            <ion-select-option *ngFor="let medPotGM of medidorPotencia"
              [value]="medPotGM">{{medPotGM}}</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
      <button type="submit" class="btn btn-success" [disabled]="!formGrupoMotor.form.valid">Agregar grupo motor</button>
      <button type="button" class="btn btn-default btnBorrar" (click)="agregarAscensor(); formGrupoMotor.reset()">Borra
        datos</button>
    </form>
  </section>

  <div [hidden]="!submitted">
    <h2>Lista ascensores:</h2>
    <div #listadoAsc class="box">
      @for (ascItem of this.listaAscensores(); track ascItem.id) {
      <li>{{ ascItem.id }}
      <div class="row flex-container boxAsc ">
        <div class="row ">
          <div class="col-xs-3"></div>
          Num ascensores:{{ ascItem.numAscensores }}
              
          Tipo ascensor: {{ ascItem.tipoMotorAsc }}
        
          Potencia ascensor:{{ ascItem.potenciaMotorAsc }}-{{ ascItem.medidaPotencia }}
        </div>
        <br>
      </div>
    </li>
      } @empty {
      <li>No hay ningún ascensor .</li>
      }




      <button type="button" class="btn btn-primary" (click)="submitted=false">Resetear</button>
    </div>
  </div>
</ion-content>