

/* RESET ESTILOS */

* {
  box-sizing: border-box;
  font-family: Roboto, arial, helvetica;
  margin:0;
  padding: 0;
  line-height: normal;
}

.ng-valid {
  border: 5px solid none; /* green */
}
.ng-invalid[required], .ng-valid.required  {
  border-bottom: 5px solid #eb1b10; /* orange */
}
.ng-invalid {
  border-bottom: 5px solid #e20b07; /* red */
}
.ng-invalid:not(form)  {
  border: 5px solid #a94442; /* red */
}
section{
  display: flex;
  flex-wrap: wrap;
  min-width: 90px;
  width: 100%;
  background-color: aqua;
  
  text-align: center;
  align-items: center;
  vertical-align: middle;
  
}

form {
  width: 100%;
  
}

.boxAsc {
  border: 2px dotted rgb(96 139 168);
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  align-items: center;
  background-color: aqua;
  //font-size: 0.69em;
  overflow-x: scroll;
}
.boxAsc>*, .boxGMotor > * {
  
  border: 2px solid rgb(96 139 168);
  border-radius: 5px;
  flex-wrap: wrap;
  margin: 5px;
 
}
#numAsc{
  width: 50px;
  font-size: small;
}

.boxGMotor {
  border: 2px dotted rgb(70, 142, 190);
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  align-items: center;
  background-color: rgb(0, 255, 140);
  overflow-x: scroll;
}

 

.form-group {
  width: 100%;
  display: inline;
  flex-wrap: wrap;
  min-width: 80px;
  text-align: center;
  margin: auto

}

ion-select{
  //position: relative;
  min-width: 50px;
  max-width: 80px;
  //max-height:35px;
  margin: auto;
  padding: auto;
  font-size: small;
  text-align: center;
  vertical-align: center;
  justify-content: center;
}
ion-select *{
  font-size: 5em;
  justify-content: center;
  text-align: center;
}

fieldset {
  
  border:6px groove #ccc; /* Borde */
  background:#F8ECE0; /* Color de fondo */
  color:#000; /* Color del texto de todo el contenido */
  
  legend {
    
  text-align:center; /* Puedes cambiarlo por center o right */
  font-weight:bold; /* Estilo de la fuente del título */
  color:#61380B; /* Color del título */
  position: relative;
  }
  div {
    display: flex;
    flex-wrap: wrap;
    vertical-align: middle;
    margin-top: 10px;
    padding: auto;
    text-align: center;
  }
 
}

label{
  display: inline-block;
  min-width: 70px;
  max-width: 90px;
  padding-left: 5px;
  text-align: center;
  font-size: 0.8em;
  vertical-align: middle;
  
  
}

input{
 
  padding: 3px 3px ;
  margin: 1px;
  
 
}

input[type="submit"], .btn-success{
  padding: 10px 10px;
  margin: 10px;
  border: 3px inset #121213;
}
/*Inputs que no sean de tipo submit*/
input:not([type="submit"]){
  width: 80px;
  text-align: center;
  justify-content: center;
  
  
}

  
.btnBorrar{
  border: 5px outset #19191b;
  background-color: #cd6866;
  margin-left: 20px;
  padding: 10px 10px;
}
ion-item{
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: transparent;
  border: 1px solid rgb(140, 0, 255);
  border-radius: 7px;
  margin: 5px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

ion-popover {
  --background: rgba(40, 173, 218, 0.6);
  --backdrop-opacity: 0.6;
  --box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.6);
  --color: white;
  --width: 300px;

}

ion-popover ion-content {
  --background: rgba(40, 173, 218, 0.6);
  
  
}

ion-popover::part(backdrop) {
  background-color: rgb(25, 39, 53);
}

#click-trigger{
  background-color: #636f51;
  ion-icon{
    padding: 1px 10px;
    margin: 1px 1px;
  }
}