<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>modalServGenerales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Servicios Generales</ion-title>
    </ion-toolbar>
  </ion-header>

  <section class="flex-container box">

    <form (ngSubmit)="agregarAscensor()" #formAscensor="ngForm">
      <h3>Ascensores</h3>

      <div class="form-group">
      <ion-item>
        <label for="numAsc">Núm. Ascensores</label>
        <input type="number" class="form-control ng-untouched ng-pristine ng-valid" id="numAsc" required
          [(ngModel)]="modelAscensor.numAscensores" name="numAsc">
        <div [hidden]="true" class="alert alert-danger">
          El número de ascensores es necesario
        </div>
      </ion-item>
      <ion-item>
          <label for="tipoAsc">Tipo Ascensor</label>
          <ion-select id="tipoAsc" required [(ngModel)]="modelAscensor.tipoMotorAsc"  interface="popover"
          name="tipoAsc" onchange="cambiaPotAscensor($event)">
            <ion-select-option *ngFor="let tipoPotAsc of tipoPotAscensor" [value]="tipoPotAsc">{{tipoPotAsc}}</ion-select-option>
          </ion-select>
        </ion-item>
          <ion-item>
          <label for="potAsc">Potencia ascensor:</label>
          <input type="number" class="form-control ng-valid" id="potAsc" [(ngModel)]="modelAscensor.potenciaMotorAsc"
            name="potAsc" disabled readonly>
          <ion-select id="medPotMotor" required name="selMedPotAsc"  interface="popover" (ionchange)="cambiaPotAscensor($event.srcElement)" >
            <ion-select-option *ngFor="let medPot of medidorPotencia" [value]="medPot">{{medPot}}</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
      <button type="submit" class="btn btn-success" [disabled]="!formAscensor.form.valid">Agregar Ascensor</button>
      <button type="button" class="btn btn-default"
        (click)="agregarAscensor(); formAscensor.reset()">borrarDatos</button>
    </form>
  </section>
  {{ modelAscensor | json }}
  <div [hidden]="!submitted">
    <h2>Lista ascensores:</h2>
    <div #listadoAsc class="box">
      @for (item of listaAscensores(); track item) {
      <li>{{ item| json }}</li>
      } @empty {
      <li>No hay ningún ascensor .</li>
      }
    </div>

    <div class="row">
      <div class="col-xs-3">Num ascensores: </div>
      <div class="col-xs-9">{{ modelAscensor.numAscensores }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Tipo ascensor</div>
      <div class="col-xs-9">{{ modelAscensor.tipoMotorAsc }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Potencia ascensor:</div>
      <div class="col-xs-9">{{ modelAscensor.potenciaMotorAsc }}</div>
    </div>
    <br>

    <button type="button" class="btn btn-primary" (click)="submitted=false">Resetear</button>
  </div>
</ion-content>