<ion-header [translucent]="true">

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="danger" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Agregar vivienda/s a la previsión</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="agregaVivienda()" [strong]="true" [disabled]="!formViviendaM.dirty">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <section>
    <ion-form [formGroup]="formViviendaM"  (ngSubmit)="agregaVivienda()">
    
      <ion-item>
        <ion-label color="primary" >Núm viviendas:</ion-label>
        <ion-input formControlName="numViv" type="number" min="0" color="danger" class="form-control ng-untouched ng-pristine ng-valid" required></ion-input>
        <ion-label > </ion-label><ion-label > </ion-label>
        
      </ion-item>
      <ion-item>
        <ion-label color="primary" >con Irve?:</ion-label>
        <ion-input formControlName="numVivIrve" type="number" min="0" class=" form-control ng-untouched ng-pristine ng-valid" ></ion-input>
        <ion-label color="primary" >potencia Irve?:</ion-label>
        <ion-input formControlName="potIrve" type="number" min="0" value=3.68></ion-input>
        <ion-label>kW </ion-label>
      </ion-item>

      <ion-item>
        <ion-label bg="dark">Tipo: </ion-label>

        <ion-item>
          <ion-select aria-label="Tipo Viviendas" interface="popover" formControlName="tipoViv"
            placeholder="Selecciona tipo" (ionChange)="cambiaTipoVivienda($event)">
            <ion-select-option *ngFor="let tipoViviviendaM of tipoViviendas" [value]="tipoViviviendaM">{{
              tipoViviviendaM.id }}.-{{ tipoViviviendaM.nombre }} - {{ tipoViviviendaM.descripcion }}
            </ion-select-option>
          </ion-select>

        </ion-item>
        <ion-label>Potencia: </ion-label>
        <ion-input size="10" enabled=false formControlName="potViv"  min="0" [(ngModel)]="potenciaViv" type="number"></ion-input>
        <ion-label>kW </ion-label>
        

      </ion-item>
      <ion-item disabled="true" class="ion-hide">
        <ion-label position="floating">ID</ion-label>
        <ion-input formControlName="id" type="number" value="{{nuevaVivienda.id}}">
        </ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button [disabled]="!formViviendaM.dirty" type="ngSubmit" color="primary" shape="full" expand="block"
            (click)="agregaVivienda()">Agregar vivienda</ion-button>
        </ion-col>
      </ion-row>

    </ion-form>
  </section>
</ion-content>