
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

.ng-valid[required], .ng-valid.required  {
    border-bottom:2px dotted #54c66b; /* orange */
  }

  .ng-untouched {
    border:5px solid #9e7c0c; /* orange */
  }
  
.ng-invalid:not(form)  {
    border: 3px solid #a94442; /* red */
}

.ng-valid {
  border:none; /* green */
}
.ng-invalid[required], .ng-valid.required  {
  border-bottom: 3px solid #eb1b10; /* orange */
}
.ng-invalid {
  border-bottom: 5px solid #e20b07; /* red */
}
.ng-invalid:not(form)  {
  border: 5px solid #a94442; /* red */
}



ion-item {
  display: inline-flexbox;
 text-align: center;
  align-items: start;

}
ion-item *{
  display: block;
 text-align: center;
  align-items: start;

}

ion-col {
  background-color: #3ea3b1;
  border: solid 1px #2b51b9;
  color: #fff;
  min-width: 60px;
}

 



  label{
    padding: 5px;
    color: primary;
  }

  ion-input{
    padding: 10px 5px 2px 2px;
    margin: 10px 5px 5px 5px;
    max-width: 60px;
    min-width: 50px;
    background-color: #dbf0c8;
    border: unset 1px #0f1730;
    text-align: center;
    vertical-align: middle
  }