<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="previsiones" >
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Previsiones</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="secciones" >
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Secciones</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="creditos" href="/tabs/tab3">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Creditos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
