<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>creditos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">creditos</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-textarea>Aplicación realizada para comprobar los ejercicios realizados en el curso "Movilidad eléctrica y
    puntos de recarga:  tecnología y gestión" realizado en Octubre 2024 en CIFO Valles, impartido y gracias a Jahir de La Cruz
    Gracias al sensei y al centro por agrandar mis conocimientos.

    He dicho...Jose Miguel Mora Perez
  </ion-textarea>

  <div class="ion-text-center ion-margin-top">
    <ion-text color="medium">
      <small>&copy;{{current_year}} App-pcve by jmmora</small>
    </ion-text>
  </div>
</ion-content>
