@use '@angular/material' as mat;
@include mat.core();

$theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
    
  )
));

mat-grid-tile {
  background: lightblue;
  //max-height:  25px;
  border-radius: 9px;
  text-align:center;

}

:host {
  
  body {
    background-color: var(--ion-color-light);
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 30px;
    height: 100%;
  
    @include mat.all-component-themes($theme);
  }

  ion-content {
    --background: linear-gradient(135deg, var(--ion-color-light), var(--ion-color-medium));
  }

  ion-grid {
    --ion-grid-width: 50%;

    --ion-grid-width-xs: 50%;
    --ion-grid-width-sm: 576px;
    --ion-grid-width-md: 768px;
    --ion-grid-width-lg: 992px;
    --ion-grid-width-xl: 1200px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  ion-label {
    padding: 5px;
  }
  ion-item {
    --border-radius: 1px;
    margin-bottom:1px;
  }
  ion-col {
    //background-color: #3ea3b1;
    background-color: #28bbaa;
    border: solid 1px #d7dbe7;
    color: #fcfcfc;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
  }

  .titListado {
    color:#2834bb;
    background-color: #2b51b9;
    width: 20;
    display:flex;
  }
  
  #viv{
    width: 20px;
  }
  .btnEliminar{
    width: 20px;
  }
  
  #p1, rp1 {
    background-color: #c8e232;
    border: solid 1px #2b51b9;
    color: #070101;

  }

  #p2 {
    background-color: #c8e232;
    border: solid 1px #2b51b9;
    color: #070101;

  }

  #p3 {
    background-color: #c8e232;
    border: solid 1px #2b51b9;
    color: #070101;

  }

  #p4 {
    background-color: #c8e232;
    border: solid 1px #2b51b9;
    color: #070101;

  }

  #p5 {
    background-color: #c8e232;
    border: solid 1px #2b51b9;
    color: #070101;

  }

  #pt {
    background-color: #41e232;
    border: solid 2px #b6351e;
    color: #010702;

  }


}

@include mat.core();
@include mat.color-variants-backwards-compatibility($theme);
