<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Previsión de carga de edificio con IRVE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <mat-grid-list cols="6" rowHeight="50px">
    @for (tile of tiles; track tile) {
    <mat-grid-tile
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.background]="tile.color"
      >{{tile.text}}</mat-grid-tile
    >
    }
  </mat-grid-list>
  
  <ion-grid>
    <ion-row>
      <ion-col class="ion-justify-content-start">

        <ion-label>Esquema:</ion-label>
        <ion-select aria-label="tipo de esquema" interface="popover" placeholder="tipo de esquema" color="danger"
          (ionChange)="cambiaEsquema($event.srcElement)">
          <ion-select-option value="1a">1a</ion-select-option>
          <ion-select-option value="1b">1b</ion-select-option>
          <ion-select-option value="1c">1c</ion-select-option>
          <ion-select-option value="2">2</ion-select-option>
          <ion-select-option value="3a">3a</ion-select-option>
          <ion-select-option value="4a">4a</ion-select-option>
          <ion-select-option value="4b">4b</ion-select-option>

        </ion-select>

      </ion-col>
      <ion-col>
        <ion-checkbox (ionChange)="cambiaSPL ($event.target.checked)">¿Tiene SPL?:</ion-checkbox>

      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item-group>
    <ion-item-divider color="primary">
      <ion-label>Prevision Viviendas  : {{this.previsionesService.prevision().Pviv.toFixed(2)}}</ion-label>
    </ion-item-divider>
    <ion-col color="danger"><ion-button color="danger" (click)="agregarVivienda()" expand="block" fill="clear"
        shape="round">
        Agregar viviendas
      </ion-button></ion-col>
   
      
         
          @for (item of previsionesService.listaViviendas(); track item.id) {
           
            @if (item.id==0){
              
                <div class="titListado">
                <ion-col >ID</ion-col>
                <ion-col>Num Viviendas</ion-col>
                <ion-col>Tipo</ion-col>
                <ion-col>Potencia</ion-col>
                <ion-col>Con Irve</ion-col>
                <ion-col>Sin Irve</ion-col>
                <ion-col>Pot Irve</ion-col>
                <ion-col>Total</ion-col>
                <ion-col>Elimina</ion-col>
              </div>
              
            }
            <ion-item class="titListado">
              
              <ion-label id="viv">{{item.id}}</ion-label>              
          
              <ion-label>{{item.numViviendas}}</ion-label>
           
              <ion-label>{{item.tipo.nombre}}</ion-label>
            
              <ion-label>{{item.tipo.potencia}} kW</ion-label>
            
              <ion-label>{{item.conIrve}}</ion-label>

              <ion-label>{{item.numViviendas-item.conIrve!}}</ion-label>
           
              <ion-label>{{item.potIrve}} kW</ion-label>
           
              <ion-label>{{(item.numViviendas-item.conIrve!)*item.tipo.potencia+(item.conIrve!*(item.tipo.potencia+0.3*item.potIrve!))}}
                kW</ion-label>
           
             
                  <ion-button class="btnElimina" (click)="eliminaVivienda(item)"><ion-icon slot="icon-only" name="trash"></ion-icon></ion-button>
             
            </ion-item>
              
          } @empty {
            <li>No hay ninguna vivienda definida.</li>
            }
          

       
        
       
    


    <ion-item *ngFor="let viv of previsionesService.listaViviendas()">
      <ion-label id="lidviv">{{viv.id}}</ion-label>
      <ion-label>Num viv :{{viv.numViviendas}}</ion-label>
      <ion-label>Tipo : {{viv.tipo.nombre}}</ion-label>
      <ion-label>Potencia :{{viv.tipo.potencia}} kW</ion-label>
      <ion-label>con Irve :{{viv.conIrve}}</ion-label>
      <ion-label>Potencia Irve :{{viv.potIrve}} kW</ion-label>
      <ion-label>={{(viv.numViviendas-viv.conIrve!)*viv.tipo.potencia+(viv.conIrve!*(viv.tipo.potencia+0.3*viv.potIrve!))}}
        kW</ion-label>
      <ion-button (click)="eliminaVivienda(viv)"><ion-icon slot="icon-only" name="trash"></ion-icon></ion-button>
    </ion-item>


  </ion-item-group>

  <ion-item-group>
    <ion-item-divider color="secondary">
      <ion-label>Prevision Sevicios Generales</ion-label>
    </ion-item-divider>
    <ion-col><ion-button color="secondary" (click)="agregarServGrales()" expand="block" fill="clear" shape="round">
        Agregar Serv Grales
      </ion-button></ion-col>

  </ion-item-group>

  <ion-item-group>
    <ion-item-divider color="tertiary">
      <ion-label>Prevision Locales</ion-label>
    </ion-item-divider>
    <ion-col><ion-button (click)="agregarLocales()" expand="block" fill="clear" shape="round">
        Agregar Locales
      </ion-button></ion-col>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider color="secondary">
      <ion-label>Prevision Garage</ion-label>
    </ion-item-divider>
    <ion-col><ion-button (click)="agregarGarage()" expand="block" fill="clear" shape="round">
        Agregar Garage
      </ion-button></ion-col>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider color="primary">
      <ion-label>Prevision Irve</ion-label>
    </ion-item-divider>
    <ion-item *ngFor="let irve of previsionesService.listaIrve()">
      <ion-label id="lidviv">{{irve.id}}</ion-label>
      <ion-label>Num viv :{{irve.cantidad}}</ion-label>

      <ion-label>Potencia : {{irve.potencia}}</ion-label>
      <ion-label>Potencia vivienda :{{irve.tipoVivienda.potencia}} kW</ion-label>
      <ion-label>={{(irve.cantidad*irve.potencia)}} kW</ion-label>

    </ion-item>


  </ion-item-group>

</ion-content>